In [1]:
# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime
from sklearn.datasets import make_regression
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.model_selection import train_test_split
from pandas import DataFrame
from sklearn.metrics import mean_squared_error
from matplotlib import pyplot
from sklearn.metrics import r2_score
#from random import random
import math

In [2]:
weather_data = pd.read_csv('NYC_2000s.csv')

In [3]:
weather_data.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'DAPR',
       'MDPR', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13',
       'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22'],
      dtype='object')

In [4]:
weather_df=weather_data.drop(['TAVG','SNWD','STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION','DAPR','MDPR','WT01', 'WT02','WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13','WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22'], axis=1)

In [5]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7881 entries, 0 to 7880
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    7881 non-null   object
 1   PRCP    7842 non-null   float64
 2   SNOW    7504 non-null   float64
 3   TMAX    7498 non-null   float64
 4   TMIN    7498 non-null   float64
dtypes: float64(4), object(1)
memory usage: 308.0+ KB

In [6]:
nyc=weather_df.dropna()

In [7]:
nyc

            DATE  PRCP  SNOW  TMAX  TMIN
0     2000-01-01   0.0   0.0  10.0   1.1
1     2000-01-02   0.0   0.0  15.6   6.1
2     2000-01-03   0.0   0.0  17.8  10.6
3     2000-01-04  17.8   0.0  15.6   7.8
4     2000-01-05   0.0   0.0   8.3  -1.7
...          ...   ...   ...   ...   ...
7493  2020-07-07   0.0   0.0  27.8  22.2
7494  2020-07-08   0.5   0.0  28.3  23.9
7495  2020-07-09   0.0   0.0  31.7  23.9
7496  2020-07-10  64.5   0.0  25.0  22.8
7497  2020-07-11  19.3   0.0  28.3  22.2

[7497 rows x 5 columns]

In [8]:
nyc['AVG_Temp']=(nyc['TMAX']+nyc['TMIN'])/2

C:\Users\LKNT\anaconda3\envs\PythonAvd\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
nyc

            DATE  PRCP  SNOW  TMAX  TMIN  AVG_Temp
0     2000-01-01   0.0   0.0  10.0   1.1      5.55
1     2000-01-02   0.0   0.0  15.6   6.1     10.85
2     2000-01-03   0.0   0.0  17.8  10.6     14.20
3     2000-01-04  17.8   0.0  15.6   7.8     11.70
4     2000-01-05   0.0   0.0   8.3  -1.7      3.30
...          ...   ...   ...   ...   ...       ...
7493  2020-07-07   0.0   0.0  27.8  22.2     25.00
7494  2020-07-08   0.5   0.0  28.3  23.9     26.10
7495  2020-07-09   0.0   0.0  31.7  23.9     27.80
7496  2020-07-10  64.5   0.0  25.0  22.8     23.90
7497  2020-07-11  19.3   0.0  28.3  22.2     25.25

[7497 rows x 6 columns]

In [10]:
nyc.to_csv('nyc_data.csv', index=False)

In [11]:
# Read the csv file into a pandas DataFrame
data = pd.read_csv('./nyc_data.csv')
data.head()

         DATE  PRCP  SNOW  TMAX  TMIN  AVG_Temp
0  2000-01-01   0.0   0.0  10.0   1.1      5.55
1  2000-01-02   0.0   0.0  15.6   6.1     10.85
2  2000-01-03   0.0   0.0  17.8  10.6     14.20
3  2000-01-04  17.8   0.0  15.6   7.8     11.70
4  2000-01-05   0.0   0.0   8.3  -1.7      3.30

In [12]:
len(data)

7497

In [13]:
data.dtypes

DATE         object
PRCP        float64
SNOW        float64
TMAX        float64
TMIN        float64
AVG_Temp    float64
dtype: object

In [14]:
max(data.DATE)

'2020-07-11'

In [15]:
min(data.DATE)

'2000-01-01'